{% extends "layout.html" %}
{% block title %}About - Licence Catalogue - CSIRO{% endblock %}
{% block content %}
<div class="container--sm">
    <div class="section--med">
        <h1>About this tool</h1>
        <p class="lead">
            This is a Linked Data catalogue of licences presented as Policies according to the
            <a class="reversed" href="https://www.w3.org/TR/odrl-model/">ODRL Information Model 2.2</a>
        </p>
        <p>The technology used is Python Flask - a bare-bones HTTP framework - configured as a simple Model-View-Controller application with the application data being stored in SQLite. Data from the database will also be available as RDF data in a future release.</p>
        <p>Further project documentation is in the _docs/ folder of the repository that contains this application's sourcecode:
            <a class="reversed" href="https://github.com/CSIRO-enviro-informatics/policies-catalogue">
                https://github.com/CSIRO-enviro-informatics/policies-catalogue
            </a>
        </p>
        <h2>License</h2>
        <p>The content of this API itself is licensed for use under the GNU v3 License. See the licence deed for details.</p>
    </div>
    <div class="section--small extendfull light-shadow">
        <div class="section--small grid grid--med-gutter">
            <div class="section--med col-1-2 card card--white">
                <h2>Contact Us</h2>
                <p>If stuff breaks or you want things extended, use the form below to get in touch:</p>
                <form id="contact-form" action="{{ url_for('controller.contact_submit') }}" method="POST">
                    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
                    <div class="form-group form-group--complete field--full-width">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" id="name" name="name" required/>
                    </div>
                    <div class="form-group form-group--complete field--full-width">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email" required/>
                    </div>
                    <div class="form-group form-group--complete field--full-width">
                        <label class="control-label" for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn--primary" type="submit">
                            <svg class="ci svg__solid__paper-plane ci--inline ci--small"><use href="#svg__solid__paper-plane"></use></svg>
                             Submit
                        </button>
                    </div>
                </form>
            </div>
            <div class="section--med col-1-2">
                <div class="container">
                    <h2>People</h2>
                    <p>
                        <strong>Nicholas Car</strong><br />
                        <em>Senior Experimental Scientist</em><br />
                        CSIRO Land &amp; Water, Environmental Informatics Group<br />
                        Brisbane, Queensland<br />
                        nicholas.car@csiro.au<br />
                        ORCID: 0000-0002-8742-7730
                    </p>
                    <p>
                        <strong>Laura Guillory</strong><br />
                        <em>Software Engineer</em><br />
                        CSIRO Land &amp; Water, Environmental Informatics Group<br />
                        Brisbane, Queensland<br />
                        laura.guillory@csiro.au
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}