<div class="alt-views-bar">
    <ul class="list--inline">
        <li class="permalink-box">
            <svg class="ci ci--inline ci--spaced svg__solid__link"><use href="#svg__solid__link"></use></svg>
            <input id="permalink" class="permalink emphasis" value="{{ permalink }}" readonly />
            <label for="permalink" hidden>Persistent URL</label>
            <button class="btn btn--primary btn--square btn--xs copy-button">Copy</button>
        </li>
        <li>
            <a href="{{ json_link }}" type="button" class="btn btn--primary btn--xs">JSON</a>
        </li>
        <li>
            <a href="{{ json_ld_link }}" type="button" class="btn btn--primary btn--xs">JSON-LD</a>
        </li>
        <li>
            <a href="{{ rdf_link }}" type="button" class="btn btn--primary btn--xs">RDF</a>
        </li>
    </ul>
</div>