{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Licence Register</h1>
            <ul>
                <li><a href="#!">Licence #1</a></li>
                <li><a href="#!">Licence #2</a></li>
                <li><a href="#!">Licence #3</a></li>
                <li><a href="#!">Licence #4</a></li>
                <li><a href="#!">Licence #5</a></li>
                <li><a href="#!">Licence #6</a></li>
                <li><a href="#!">Licence #7</a></li>
                <li><a href="#!">Licence #8</a></li>
                <li><a href="#!">Licence #9</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Permalink</h5>
            <div>
                <input class="permalink" onClick="this.select();" value="https://github.com/CSIRO-enviro-informatics/policies-catalogue/commits/master" />
                <div class="clipboard-icon">
                    <a href="#!" class="far fa-2x fa-clipboard"></a>
                    <span class="clipboard-tooltip">Copy to clipboard</span>
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-2">Download as RDF</button>
            <button type="button" class="btn btn-primary mt-2">Download as JSON</button>
        </div>
    </div>
{% endblock %}