{% macro display_attribute(label, value) %}
    <tr>
        <th>{{ label }}:</th>
        <td>{% if value is not none %}{{ value }}{% endif %}</td>
    </tr>
{% endmacro %}
{% macro display_linking_attribute(label, value) %}
    <tr>
        <th>{{ label }}:</th>
        <td>{% if value is not none %}<a href="{{ value }}" target="_blank">{{ value }}</a>{% endif %}</td>
    </tr>
{% endmacro %}
{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% block title %}
            <h1>{% if title is defined %}{{ title }}{% endif %}</h1>
            {% endblock %}
            {% block left_column %}{% endblock %}
        </div>
        <div class="col-md-4">
            <strong><label for="permalink">Permalink</label></strong>
            <div>
                <input id="permalink" class="permalink" value="{{ permalink }}" />
                <div class="clipboard-icon">
                    <a href="#!" data-toggle="tooltip" title="Copy to clipboard" class="far fa-2x fa-clipboard"></a>
                </div>
            </div>
            <a href="{{ rdf_link }}" type="button" class="btn btn-primary w-200 mt-2 mb-2">View as RDF</a>
            <a href="{{ json_link }}" type="button" class="btn btn-primary w-200 mt-2 mb-2">View as JSON</a>
            <a href="{{ json_ld_link }}" type="button" class="btn btn-primary w-200 mt-2 mb-2">View as JSON-LD</a>
            {% block right_column %}{% endblock %}
        </div>
    </div>
    <div class="mt-2">
        {% block info %}{% endblock %}
    </div>
    <div class="mt-2">
        {% block bottom %}{% endblock %}
    </div>
{% endblock %}
{% block bottom_script %}
<script>
    $('body').on('click', '.permalink', function() {
        $(this).select();
    });
    $('body').on('click', '.clipboard-icon', function() {
        copyToClipboard($('.permalink'));
        $(this).children('.hover-tooltip').text('Copied!');
    });
    var copyToClipboard = function(target) {
        $(target).focus().select();
        document.execCommand('copy');
    };
</script>
{% endblock %}