{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% block title %}
            <h1>{% if title is defined %}{{ title }}{% endif %}</h1>
            {% endblock %}
            {% block left_column %}{% endblock %}
        </div>
        <div class="col-md-4">
            <h5>Permalink</h5>
            <div>
                <input class="permalink" value="{{ permalink }}" />
                <div class="hover-target clipboard-icon">
                    <a href="#!" data-toggle="tooltip" title="Copy to clipboard" class="far fa-2x fa-clipboard"></a>
                </div>
            </div>
            <a href="{{ rdf_link }}" type="button" class="btn btn-primary w-200 mt-2 mb-2">View as RDF</a>
            <a href="{{ json_link }}" type="button" class="btn btn-primary w-200 mt-2 mb-2">View as JSON</a>
            <a href="{{ json_ld_link }}" type="button" class="btn btn-primary w-200 mt-2 mb-2">View as JSON-LD</a>
            {% block right_column %}{% endblock %}
        </div>
    </div>
    {% block bottom %}{% endblock %}
{% endblock %}
{% block bottom_script %}
<script>
    $('body').on('click', '.permalink', function() {
        $(this).select();
    });
    $('body').on('click', '.clipboard-icon', function() {
        copyToClipboard($('.permalink'));
        $(this).children('.hover-tooltip').text('Copied!');
    });
    var copyToClipboard = function(target) {
        $(target).focus().select();
        document.execCommand('copy');
    };
</script>
{% endblock %}