{% extends 'layout.html' %}
{% block content %}
    <h1 class="text-center">Create a Licence</h1>
    <ul class="nav nav-pills justify-content-center nav-justified ml-5 mr-5 mt-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#step-1">Select Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link search-button" data-toggle="pill" href="#step-2">Suggested Licences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#step-3">Licence Info</a>
        </li>
    </ul>
    <div class="tab-content mt-3 mb-5">
        <div class="tab-pane fade show active" id="step-1">
            <h2 class="text-center">Select your rules</h2>
            <ul id="rule-list" class="list-group ml-5 mr-5"></ul>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary w-200 previous-button mr-3" disabled="disabled">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
                <button type="button" class="btn btn-primary w-200 next-button search-button ml-3">
                    Continue <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane fade" id="step-2">
            <div id="results"></div>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary w-200 previous-button mr-3">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
                <button type="button" class="btn btn-primary w-200 next-button ml-3">
                    Create New Licence <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane fade" id="step-3">
            <form id="licence-create-form" method="post">
                <table class="table">
                    <col width="150">
                    <tbody>
                        <tr>
                            <th><label for="label">Licence Name:</label></th>
                            <td><input id="label" name="label" type="text" required/></td>
                        </tr>
                        <tr>
                            <th><label for="comment">Description:</label></th>
                            <td><textarea id="comment" name="comment"></textarea></td>
                        </tr>
                        <tr>
                            <th><label for="creator">Creator:</label></th>
                            <td><input id="creator" name="creator" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                        <tr>
                            <th><label for="status">Status:</label></th>
                            <td>
                                <select id="status" name="status">
                                    <option value="">None</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/accepted">Accepted</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/deprecated">Deprecated</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/experimental">Experimental</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/reserved">Reserved</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/submitted">Submitted</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="version">Version:</label></th>
                            <td><input id="version" name="has_version" type="text"/></td>
                        </tr>
                        <tr>
                            <th><label for="jurisdiction">Jurisdiction:</label></th>
                            <td><input id="jurisdiction" name="jurisdiction" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                        <tr>
                            <th><label for="legal_code">Legal Code:</label></th>
                            <td><input id="legal_code" name="legal_code" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                        <tr>
                            <th><label for="language">Language:</label></th>
                            <td>
                                <select id="language" name="language" required>
                                    <option value="AF">Afrikanns</option>
                                    <option value="SQ">Albanian</option>
                                    <option value="AR">Arabic</option>
                                    <option value="HY">Armenian</option>
                                    <option value="EU">Basque</option>
                                    <option value="BN">Bengali</option>
                                    <option value="BG">Bulgarian</option>
                                    <option value="CA">Catalan</option>
                                    <option value="KM">Cambodian</option>
                                    <option value="ZH">Chinese (Mandarin)</option>
                                    <option value="HR">Croation</option>
                                    <option value="CS">Czech</option>
                                    <option value="DA">Danish</option>
                                    <option value="NL">Dutch</option>
                                    <option value="EN" selected>English</option>
                                    <option value="ET">Estonian</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finnish</option>
                                    <option value="FR">French</option>
                                    <option value="KA">Georgian</option>
                                    <option value="DE">German</option>
                                    <option value="EL">Greek</option>
                                    <option value="GU">Gujarati</option>
                                    <option value="HE">Hebrew</option>
                                    <option value="HI">Hindi</option>
                                    <option value="HU">Hungarian</option>
                                    <option value="IS">Icelandic</option>
                                    <option value="ID">Indonesian</option>
                                    <option value="GA">Irish</option>
                                    <option value="IT">Italian</option>
                                    <option value="JA">Japanese</option>
                                    <option value="JW">Javanese</option>
                                    <option value="KO">Korean</option>
                                    <option value="LA">Latin</option>
                                    <option value="LV">Latvian</option>
                                    <option value="LT">Lithuanian</option>
                                    <option value="MK">Macedonian</option>
                                    <option value="MS">Malay</option>
                                    <option value="ML">Malayalam</option>
                                    <option value="MT">Maltese</option>
                                    <option value="MI">Maori</option>
                                    <option value="MR">Marathi</option>
                                    <option value="MN">Mongolian</option>
                                    <option value="NE">Nepali</option>
                                    <option value="NO">Norwegian</option>
                                    <option value="FA">Persian</option>
                                    <option value="PL">Polish</option>
                                    <option value="PT">Portuguese</option>
                                    <option value="PA">Punjabi</option>
                                    <option value="QU">Quechua</option>
                                    <option value="RO">Romanian</option>
                                    <option value="RU">Russian</option>
                                    <option value="SM">Samoan</option>
                                    <option value="SR">Serbian</option>
                                    <option value="SK">Slovak</option>
                                    <option value="SL">Slovenian</option>
                                    <option value="ES">Spanish</option>
                                    <option value="SW">Swahili</option>
                                    <option value="SV">Swedish </option>
                                    <option value="TA">Tamil</option>
                                    <option value="TT">Tatar</option>
                                    <option value="TE">Telugu</option>
                                    <option value="TH">Thai</option>
                                    <option value="BO">Tibetan</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TR">Turkish</option>
                                    <option value="UK">Ukranian</option>
                                    <option value="UR">Urdu</option>
                                    <option value="UZ">Uzbek</option>
                                    <option value="VI">Vietnamese</option>
                                    <option value="CY">Welsh</option>
                                    <option value="XH">Xhosa</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="same_as">Same As:</label></th>
                            <td><input id="same_as" name="same_as" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                        <tr>
                            <th><label for="see_also">See Also:</label></th>
                            <td><input id="see_also" name="see_also" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center mt-5">
                    <button type="button" class="btn btn-primary w-200 previous-button search-button mr-3">
                        <i class="fa fa-chevron-left"></i> Back
                    </button>
                    <input type="submit" class="btn btn-primary w-200" value="Create Licence"/>
                </div>
            </form>
        </div>
    </div>
    <div id="results-template" hidden>
        <div id="licences-found" hidden>
            <h3 class="text-center">Please consider reusing a licence.</h3>
            <h3 class="text-center">The following licences are similar to your requirements.</h3>
        </div>
        <div id="licences-not-found" hidden>
            <h3 class="text-center">There are no appropriate existing licences to re-use.</h3>
            <h3 class="text-center">Please continue with creating a new licence.</h3>
        </div>
    </div>
    <div id="licence-template" hidden>
        <div class="card text-center">
            <div class="card-header mouseover" data-toggle="collapse" data-target="#licence-1">
                <strong class="mb-0">Licence #1</strong>
            </div>
            <div id="licence-1" class="collapse">
                <div class="card-body">
                    <strong hidden>This licence has these <span class="text-info">extra rules</span></strong>
                    <table class="table table-bordered">
                        <tbody>
                            <tr hidden>
                                <th>Permissions</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr hidden>
                                <th>Duties</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr hidden>
                                <th>Prohibitions</th>
                                <td class="text-left"></td>
                            </tr>
                        </tbody>
                    </table>
                    <strong hidden>This licence has these <span class="text-warning">missing rules</span></strong>
                    <table class="table table-bordered">
                        <tbody>
                            <tr hidden>
                                <th>Permissions</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr hidden>
                                <th>Duties</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr hidden>
                                <th>Prohibitions</th>
                                <td class="text-left"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a target="_blank" href="#!" type="button" class="btn btn-primary w-200">See Licence</a>
                </div>
            </div>
        </div>
    </div>
    <ul id="rule-list-template" hidden>
        <li class="list-group-item font-weight-bold active">Filter:</li>
        <li id="permission-header" class="list-group-item font-weight-bold">
            Permissions
            <span class="fas fa-question-circle p-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Add a Permission Rule</strong></div>A Permission Rule grants the ability to perform an Action on an Asset."></span>
            <span class="fas fa-plus fa-lg success floatright" data-toggle="modal" data-target="#addPermissionModal"></span>
        </li>
        <div class="list-end-section" data-rule-type="http://www.w3.org/ns/odrl/2/permission"></div>
        <li id="duty-header" class="list-group-item font-weight-bold">
            Duties
            <span class="fas fa-question-circle p-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Add a Duty Rule</strong></div>A Duty Rule states an obligation to perform an Action on an Asset."></span>
            <span class="fas fa-plus fa-lg success floatright" data-toggle="modal" data-target="#addDutyModal"></span>
        </li>
        <div class="list-end-section" data-rule-type="http://www.w3.org/ns/odrl/2/duty"></div>
        <li id="prohibition-header" class="list-group-item font-weight-bold">
            Prohibitions
            <span class="fas fa-question-circle p-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Add a Prohibition Rule</strong></div>A Prohibition Rule states an inability to perform an Action on an Asset."></span>
            <span class="fas fa-plus fa-lg success floatright" data-toggle="modal" data-target="#addProhibitionModal"></span>
        </li>
        <div class="list-end-section" data-rule-type="http://www.w3.org/ns/odrl/2/prohibition"></div>
    </ul>
    <div id="rule-item-template" hidden>
        <li class="list-group-item" data-rule-type="" data-action-uri="">
            <div class="ml-3">
                <a target="_blank" href="">Rule Label</a>
                <span class="fas fa-times fa-lg danger delete-rule-item ml-1"></span>
            </div>
            <div class="ml-4 assignors" hidden></div>
            <div class="ml-4 assignees" hidden></div>
        </li>
    </div>
    <div id="party-item-template" hidden>
        <li class="list-group-item p-1">
            <div class="list-group-item-label pl-1"></div>
            <span class="fas fa-times text-danger delete-party-item floatright p-1"></span>
        </li>
    </div>
    <div id="addPermissionModal" class="modal add-rule-modal fade" data-rule-type="http://www.w3.org/ns/odrl/2/permission" tabindex="-1" role="dialog" aria-labelledby="permissionModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="permissionModalTitle">Add Rule: Permission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="add-permission-select">
                                Action
                                <i class="fas fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Action</strong></div>An operation on an Asset. Actions may be allowed by Permissions, disallowed by Prohibitions, or made mandatory by Duties."></i>
                            </label>
                        </div>
                        <select id="add-permission-select" class="form-control action-select permission">
                            {% for action in actions %}
                            <option data-action-uri="{{ action['URI'] }}" data-action-link="{{ action['LINK'] }}">{{ action['LABEL'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <form class="validate-party-form">
                        <ul class="list-group mb-2 assignor-list">
                            <li class="list-group-item font-weight-bold active">
                                <label for="permission-assignor-input">Assignors</label>
                                <i class="fas fa-lg fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Assignors</strong></div>An Assignor is an issuer of the Rule. An Assignor could be a person, group of people, organisation or agent."></i>
                            </li>
                        </ul>
                        <div class="input-group mb-4">
                            <input id="permission-assignor-input" class="form-control party-input" placeholder="Enter a new assignor ..." pattern="\w+:(\/?\/?)[^\s]+" title="URI"/>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success fa fa-plus add-party"></button>
                            </div>
                        </div>
                    </form>
                    <form class="validate-party-form">
                        <ul class="list-group mb-2 assignee-list">
                            <li class="list-group-item font-weight-bold active">
                                <label for="permission-assignee-input">Assignees</label>
                                <i class="fas fa-lg fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Assignees</strong></div>An Assignee is a recipient of the Rule. An Assignee could be a person, group of people, organisation or agent."></i>
                            </li>
                        </ul>
                        <div class="input-group mb-4">
                            <input id="permission-assignee-input" class="form-control party-input" placeholder="Enter a new assignee ..." pattern="\w+:(\/?\/?)[^\s]+" title="URI"/>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success fa fa-plus add-party"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary add-rule" data-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addDutyModal" class="modal add-rule-modal fade" data-rule-type="http://www.w3.org/ns/odrl/2/duty" tabindex="-1" role="dialog" aria-labelledby="dutyModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="dutyModalTitle">Add Rule: Duty</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="add-duty-select">
                                Action
                                <i class="fas fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Action</strong></div>An operation on an Asset. Actions may be allowed by Permissions, disallowed by Prohibitions, or made mandatory by Duties."></i>
                            </label>
                        </div>
                        <select id="add-duty-select" class="form-control action-select duty">
                            {% for action in actions %}
                            <option data-action-uri="{{ action['URI'] }}" data-action-link="{{ action['LINK'] }}">{{ action['LABEL'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <form class="validate-party-form">
                        <ul class="list-group mb-2 assignor-list">
                            <li class="list-group-item font-weight-bold active">
                                <label for="duty-assignor-input"></label>Assignors
                                <i class="fas fa-lg fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Assignors</strong></div>An Assignor is an issuer of the Rule. An Assignor could be a person, group of people, organisation or agent."></i>
                            </li>
                        </ul>
                        <div class="input-group mb-4">
                            <input id="duty-assignor-input" class="form-control party-input" placeholder="Enter a new assignor ..." pattern="\w+:(\/?\/?)[^\s]+" title="URI"/>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success fa fa-plus add-party"></button>
                            </div>
                        </div>
                    </form>
                    <form class="validate-party-form">
                        <ul class="list-group mb-2 assignee-list">
                            <li class="list-group-item font-weight-bold active">
                                <label for="duty-assignee-input">Assignees</label>
                                <i class="fas fa-lg fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Assignees</strong></div>An Assignee is a recipient of the Rule. An Assignee could be a person, group of people, organisation or agent."></i>
                            </li>
                        </ul>
                        <div class="input-group mb-4">
                            <input id="duty-assignee-input" class="form-control party-input" placeholder="Enter a new assignee ..." pattern="\w+:(\/?\/?)[^\s]+" title="URI"/>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success fa fa-plus add-party"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary add-rule" data-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addProhibitionModal" class="modal add-rule-modal fade" data-rule-type="http://www.w3.org/ns/odrl/2/prohibition" tabindex="-1" role="dialog" aria-labelledby="prohibitionModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="prohibitionModalTitle">Add Rule: Prohibition</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="add-prohibition-select">
                                Action
                                <i class="fas fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Action</strong></div>An operation on an Asset. Actions may be allowed by Permissions, disallowed by Prohibitions, or made mandatory by Duties."></i>
                            </label>
                        </div>
                        <select id="add-prohibition-select" class="form-control action-select prohibition">
                            {% for action in actions %}
                            <option data-action-uri="{{ action['URI'] }}" data-action-link="{{ action['LINK'] }}">{{ action['LABEL'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <form class="validate-party-form">
                        <ul class="list-group mb-2 assignor-list">
                            <li class="list-group-item font-weight-bold active">
                                <label for="prohibition-assignor-input">Assignors</label>
                                <i class="fas fa-lg fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Assignors</strong></div>An Assignor is an issuer of the Rule. An Assignor could be a person, group of people, organisation or agent."></i>
                            </li>
                        </ul>
                        <div class="input-group mb-4">
                            <input id="prohibition-assignor-input" class="form-control party-input" placeholder="Enter a new assignor ..." pattern="\w+:(\/?\/?)[^\s]+" title="URI"/>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success fa fa-plus add-party"></button>
                            </div>
                        </div>
                    </form>
                    <form class="validate-party-form">
                        <ul class="list-group mb-2 assignee-list">
                            <li class="list-group-item font-weight-bold active">
                                <label for="prohibition-assignee-input">Assignees</label>
                                <i class="fas fa-lg fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Assignees</strong></div>An Assignee is a recipient of the Rule. An Assignee could be a person, group of people, organisation or agent."></i>
                            </li>
                        </ul>
                        <div class="input-group mb-4">
                            <input id="prohibition-assignee-input" class="form-control party-input" placeholder="Enter a new assignee ..." pattern="\w+:(\/?\/?)[^\s]+" title="URI"/>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-success fa fa-plus add-party"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary add-rule" data-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div id="search-url" data-url="{{ search_url }}" hidden></div>
{% endblock %}