{% macro rule_modal(type, uri) %}
    <div id="add{{ type|capitalize }}Modal" class="modal add-rule-modal fade" data-rule-type="{{ uri }}" tabindex="-1" role="dialog" aria-labelledby="{{ type }}ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ type }}ModalTitle">Add Rule: {{ type|capitalize }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="add-{{ type }}-select">
                                Action
                                <i class="fas fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Action</strong></div>An operation on an Asset. Actions may be allowed by Permissions, disallowed by Prohibitions, or made mandatory by Duties."></i>
                            </label>
                        </div>
                        <select id="add-{{ type }}-select" class="form-control action-select {{ type }}">
                            <option data-action-uri="" data-action-link=""></option>
                            {% for action in actions %}
                            <option data-action-uri="{{ action['URI'] }}" data-action-link="{{ action['LINK'] }}">{{ action['LABEL'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <ul class="list-group assignor-list">
                        <li class="list-group-item font-weight-bold active">
                            <label for="{{ type }}-assignor-input">Assignors</label>
                            <i class="fas fa-lg fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Assignors</strong></div>An Assignor is an issuer of the Rule. An Assignor could be a person, group of people, organisation or agent."></i>
                        </li>
                    </ul>
                    <select class="form-control party-select mb-2" id="{{ type }}-assignor-input">
                        <option selected></option>
                        {% for party in parties %}
                        <option value="{{ party['URI'] }}" data-comment="{{ party['COMMENT'] }}">{{ party['LABEL'] if party['LABEL'] else party['URI'] }}</option>
                        {% endfor %}
                    </select>
                    <ul class="list-group assignee-list">
                        <li class="list-group-item font-weight-bold active">
                            <label for="{{ type }}-assignee-input">Assignees</label>
                            <i class="fas fa-lg fa-question-circle pl-1 pt-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Assignees</strong></div>An Assignee is a recipient of the Rule. An Assignee could be a person, group of people, organisation or agent."></i>
                        </li>
                    </ul>
                    <select class="form-control party-select mt-0 mb-1" id="{{ type }}-assignee-input">
                        <option selected></option>
                        {% for party in parties %}
                        <option value="{{ party['URI'] }}" data-comment="{{ party['COMMENT'] }}">{{ party['LABEL'] if party['LABEL'] else party['URI'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary add-rule" data-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
{% extends 'layout.html' %}
{% block content %}
    <h1 class="text-center">Create a Licence</h1>
    <ul class="nav nav-pills justify-content-center nav-justified ml-5 mr-5 mt-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#step-1">Select Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link search-button" data-toggle="pill" href="#step-2">Suggested Licences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#step-3">Licence Info</a>
        </li>
    </ul>
    <div class="tab-content mt-3 mb-5">
        <div class="tab-pane fade show active" id="step-1">
            <h2 class="text-center">Select your rules</h2>
            <ul id="rule-list" class="list-group ml-5 mr-5"></ul>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary w-200 previous-button mr-3" disabled="disabled">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
                <button type="button" class="btn btn-primary w-200 next-button search-button ml-3">
                    Continue <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane fade" id="step-2">
            <div id="results"></div>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary w-200 previous-button mr-3">
                    <i class="fa fa-chevron-left"></i> Back
                </button>
                <button type="button" class="btn btn-primary w-200 next-button ml-3">
                    Create New Licence <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="tab-pane fade" id="step-3">
            <form id="licence-create-form" method="post">
                <table class="table">
                    <col width="150">
                    <tbody>
                        <tr>
                            <th><label for="label">Licence Name:</label></th>
                            <td><input id="label" name="label" type="text" required/></td>
                        </tr>
                        <tr>
                            <th><label for="comment">Description:</label></th>
                            <td><textarea id="comment" name="comment"></textarea></td>
                        </tr>
                        <tr>
                            <th><label for="creator">Creator:</label></th>
                            <td><input id="creator" name="creator" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                        <tr>
                            <th><label for="status">Status:</label></th>
                            <td>
                                <select id="status" name="status">
                                    <option value="">None</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/accepted">Accepted</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/deprecated">Deprecated</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/experimental">Experimental</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/reserved">Reserved</option>
                                    <option value="http://dd.eionet.europa.eu/vocabulary/datadictionary/status/submitted">Submitted</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="version">Version:</label></th>
                            <td><input id="version" name="has_version" type="text"/></td>
                        </tr>
                        <tr>
                            <th><label for="jurisdiction">Jurisdiction:</label></th>
                            <td><input id="jurisdiction" name="jurisdiction" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                        <tr>
                            <th><label for="legal_code">Legal Code:</label></th>
                            <td><input id="legal_code" name="legal_code" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                        <tr>
                            <th><label for="language">Language:</label></th>
                            <td>
                                <select id="language" name="language" required>
                                    <option value="http://www.lexvo.org/page/iso639-3/afr">Afrikanns</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/sqi">Albanian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ara">Arabic</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/hye">Armenian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/eus">Basque</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ben">Bengali</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/bul">Bulgarian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/cat">Catalan</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/khm">Cambodian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/zho">Chinese (Mandarin)</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/hrv">Croation</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ces">Czech</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/dan">Danish</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/nld">Dutch</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/eng" selected>English</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/est">Estonian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/fin">Finnish</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/fra">French</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/kat">Georgian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/deu">German</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ell">Greek</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/guj">Gujarati</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/heb">Hebrew</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/hin">Hindi</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/hun">Hungarian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/isl">Icelandic</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ind">Indonesian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/gle">Irish</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ita">Italian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/jpn">Japanese</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/kor">Korean</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/lat">Latin</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/lav">Latvian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/lit">Lithuanian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/mkd">Macedonian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/msa">Malay</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/mal">Malayalam</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/mlt">Maltese</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/mri">Maori</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/mar">Marathi</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/mon">Mongolian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/nep">Nepali</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/nor">Norwegian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/fas">Persian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/pol">Polish</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/por">Portuguese</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/pan">Punjabi</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/que">Quechua</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ron">Romanian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/rus">Russian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/smo">Samoan</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/srp">Serbian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/slk">Slovak</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/slv">Slovenian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/spa">Spanish</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/swa">Swahili</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/swe">Swedish </option>
                                    <option value="http://www.lexvo.org/page/iso639-3/tam">Tamil</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/tat">Tatar</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/tel">Telugu</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/tha">Thai</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/bod">Tibetan</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ton">Tonga</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/tur">Turkish</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/ukr">Ukranian</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/urd">Urdu</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/uzb">Uzbek</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/vie">Vietnamese</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/cym">Welsh</option>
                                    <option value="http://www.lexvo.org/page/iso639-3/xho">Xhosa</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="same_as">Same As:</label></th>
                            <td><input id="same_as" name="same_as" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                        <tr>
                            <th><label for="see_also">See Also:</label></th>
                            <td><input id="see_also" name="see_also" type="text" pattern="\w+:(\/?\/?)[^\s]+" title="URI"/></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center mt-5">
                    <button type="button" class="btn btn-primary w-200 previous-button search-button mr-3">
                        <i class="fa fa-chevron-left"></i> Back
                    </button>
                    <input type="submit" class="btn btn-primary w-200" value="Create Licence"/>
                </div>
            </form>
        </div>
    </div>
    <div id="results-template" hidden>
        <div id="licences-found" hidden>
            <h3 class="text-center">Please consider reusing a licence.</h3>
            <h3 class="text-center">The following licences are similar to your requirements.</h3>
        </div>
        <div id="licences-not-found" hidden>
            <h3 class="text-center">There are no appropriate existing licences to re-use.</h3>
            <h3 class="text-center">Please continue with creating a new licence.</h3>
        </div>
    </div>
    <div id="licence-template" hidden>
        <div class="card text-center">
            <div class="card-header mouseover" data-toggle="collapse" data-target="#licence-1">
                <strong class="mb-0">Licence #1</strong>
            </div>
            <div id="licence-1" class="collapse">
                <div class="card-body">
                    <strong hidden>This licence has these <span class="text-info">extra rules</span></strong>
                    <table class="table table-bordered">
                        <tbody>
                            <tr hidden>
                                <th>Permissions</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr hidden>
                                <th>Duties</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr hidden>
                                <th>Prohibitions</th>
                                <td class="text-left"></td>
                            </tr>
                        </tbody>
                    </table>
                    <strong hidden>This licence has these <span class="text-warning">missing rules</span></strong>
                    <table class="table table-bordered">
                        <tbody>
                            <tr hidden>
                                <th>Permissions</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr hidden>
                                <th>Duties</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr hidden>
                                <th>Prohibitions</th>
                                <td class="text-left"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a target="_blank" href="#!" type="button" class="btn btn-primary w-200">See Licence</a>
                </div>
            </div>
        </div>
    </div>
    <ul id="rule-list-template" hidden>
        <li class="list-group-item font-weight-bold active">Filter:</li>
        <li id="permission-header" class="list-group-item font-weight-bold">
            Permissions
            <span class="fas fa-question-circle p-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Add a Permission Rule</strong></div>A Permission Rule grants the ability to perform an Action on an Asset."></span>
            <span class="fas fa-plus fa-lg success floatright" data-toggle="modal" data-target="#addPermissionModal"></span>
        </li>
        <div class="list-end-section" data-rule-type="http://www.w3.org/ns/odrl/2/permission"></div>
        <li id="duty-header" class="list-group-item font-weight-bold">
            Duties
            <span class="fas fa-question-circle p-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Add a Duty Rule</strong></div>A Duty Rule states an obligation to perform an Action on an Asset."></span>
            <span class="fas fa-plus fa-lg success floatright" data-toggle="modal" data-target="#addDutyModal"></span>
        </li>
        <div class="list-end-section" data-rule-type="http://www.w3.org/ns/odrl/2/duty"></div>
        <li id="prohibition-header" class="list-group-item font-weight-bold">
            Prohibitions
            <span class="fas fa-question-circle p-1" data-toggle="tooltip" data-placement="right" data-html="true" title="<div><strong>Add a Prohibition Rule</strong></div>A Prohibition Rule states an inability to perform an Action on an Asset."></span>
            <span class="fas fa-plus fa-lg success floatright" data-toggle="modal" data-target="#addProhibitionModal"></span>
        </li>
        <div class="list-end-section" data-rule-type="http://www.w3.org/ns/odrl/2/prohibition"></div>
    </ul>
    <div id="rule-item-template" hidden>
        <li class="list-group-item" data-rule-type="" data-action-uri="">
            <div class="ml-3">
                <a target="_blank" href="">Rule Label</a>
                <span class="fas fa-times fa-lg danger delete-rule-item ml-1"></span>
            </div>
            <div class="ml-4 assignors" hidden></div>
            <div class="ml-4 assignees" hidden></div>
        </li>
    </div>
    <div id="party-item-template" hidden>
        <li class="list-group-item p-1">
            <div class="list-group-item-label pl-1" data-uri=""></div>
            <span class="fas fa-times text-danger delete-party-item floatright p-1"></span>
        </li>
    </div>
    {{ rule_modal('permission', 'http://www.w3.org/ns/odrl/2/permission') }}
    {{ rule_modal('duty', 'http://www.w3.org/ns/odrl/2/duty') }}
    {{ rule_modal('prohibition', 'http://www.w3.org/ns/odrl/2/prohibition') }}
    <div id="search-url" data-url="{{ search_url }}" hidden></div>
{% endblock %}