{% extends "layout.html" %}
{% block content %}
    <h1>Licence Register</h1>
    <p>This catalogue is a website tool to allow people to find licences according to certain criteria. It is also a licence writing tool; with it you can author both new abstract licences and also specific implementations of licences for particular purposes.</p>
    <h2>Actions</h2>
    <ul>
        <li><a href="{{ url_for('controller.search') }}">Find a Licence</a></li>
        <li><a href="{{ url_for('controller.create_licence_form') }}">Create a Licence</a></li>
        <li><a href="{{ url_for('controller.licence_routes') }}">Browse Licences</a></li>
        <li><a href="{{ url_for('controller.action_routes') }}">Browse Actions</a></li>
    </ul>
{% endblock %}