{% extends "layout.html" %}
{% block content %}
    <h1 class="display__title">Licence Catalogue</h1>
    <p class="lead">
        This catalogue is a website tool to allow people to find licences according to certain criteria. It
        is also a licence writing tool; with it you can author both new abstract licences and also specific
        implementations of licences for particular purposes.
    </p>
    <div class="icon-grid container--sm section">
       <a href="{{ url_for('controller.licence_routes') }}" class="link--remove-underline icon-grid__item">
           <svg class="ci ci--med svg__solid__search"><use href="#svg__solid__search"></use></svg>
           <span class="h3 more-link heading--remove-color container--extra-padding">Find a Licence ></span>
       </a>
        <a href="{{ url_for('controller.create_licence') }}" class="link--remove-underline icon-grid__item">
           <svg class="ci ci--med svg__solid__magic"><use href="#svg__solid__magic"></use></svg>
           <span class="h3 more-link heading--remove-color container--extra-padding">Create a Licence ></span>
       </a>
       <a href="{{ url_for('controller.action_register') }}" class="link--remove-underline icon-grid__item">
           <svg class="ci ci--med svg__solid__shapes"><use href="#svg__solid__shapes"></use></svg>
            <span class="h3 more-link heading--remove-color container--extra-padding">Browse Actions ></span>
       </a>
       <a href="{{ url_for('controller.party_register') }}" class="link--remove-underline icon-grid__item">
           <svg class="ci ci--med svg__solid__handshake"><use href="#svg__solid__handshake"></use></svg>
           <span class="h3 more-link heading--remove-color container--extra-padding">Browse Parties ></span>
        </a>
    </div>
{% endblock %}