{% extends "layout.html" %}
{% block content %}
    <h1>Search for a Licence</h1>
    <div class="row mt-5">
        <div class="col-md-5 mb-3">
            <ul id="filter-list" class="list-group"></ul>
        </div>
        <div class="col-md-7">
            <div class="ml-3">
                <div class="dropdown mb-3" id="permission-dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Add Permission
                    </button>
                    <ul class="dropdown-menu">
                        {% for action in actions %}
                        <li class="dropdown-item permission-item" data-action-uri="{{ action['URI'] }}">{{ action['LABEL'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dropdown mb-3" id="duty-dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Add Duty
                    </button>
                    <div class="dropdown-menu">
                        {% for action in actions %}
                        <li class="dropdown-item duty-item" data-action-uri="{{ action['URI'] }}">{{ action['LABEL'] }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="dropdown mb-3" id="prohibition-dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Add Prohibition
                    </button>
                    <div class="dropdown-menu">
                        {% for action in actions %}
                        <li class="dropdown-item prohibition-item" data-action-uri="{{ action['URI'] }}">{{ action['LABEL'] }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-5">
                    <button id="filter-button" type="button" class="btn btn-primary">Filter Licences</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div id="results" class="col-md-12"></div>
    </div>
    <ul id="filter-list-template" hidden>
        <li class="list-group-item font-weight-bold active">Filter:</li>
        <li id="permission-header" class="list-group-item font-weight-bold">Permissions</li>
        <li id="duty-header" class="list-group-item font-weight-bold">Duties</li>
        <li id="prohibition-header" class="list-group-item font-weight-bold">Prohibitions</li>
    </ul>
    <div id="permission-item-template" hidden>
        <li class="list-group-item permission-item">
            <span class="ml-3">Read</span>
            <i class="fas fa-times text-danger delete-item"></i>
        </li>
    </div>
    <div id="duty-item-template" hidden>
        <li class="list-group-item duty-item">
            <span class="ml-3">Attach Policy</span>
            <i class="fas fa-times text-danger delete-item"></i>
        </li>
    </div>
    <div id="prohibition-item-template" hidden>
        <li class="list-group-item prohibition-item">
            <span class="ml-3">Distribute</span>
            <i class="fas fa-times text-danger delete-item"></i>
        </li>
    </div>
    <div id="results-template" class="col-md-12" hidden>
        <h2>Results</h2>
        <div id="perfect-licence-header" class="row mt-3 mb-3" hidden>
            <div class="col-md-1">
                <i class="fas fa-check-circle fa-3x text-success"></i>
            </div>
            <div class="col-md-11 mt-2 text-success">
                <h3>The following licences are a perfect fit with your requirements</h3>
            </div>
        </div>
        <div id="extra-licence-header" class="row mt-3 mb-3" hidden>
            <div class="col-md-1 mt-2">
                <i class="fas fa-exclamation-circle fa-3x text-warning"></i>
            </div>
            <div class="col-md-11 text-warning">
                <h3>The following licences are compatible with your requirements, but have extra conditions</h3>
            </div>
        </div>
        <div id="insufficient-licence-header" class="row mt-3 mb-3" hidden>
            <div class="col-md-1">
                <i class="fas fa-times-circle fa-3x text-danger"></i>
            </div>
            <div class="col-md-11 mt-2 text-danger">
                <h3>The following licences are missing some requirements</h3>
            </div>
        </div>
    </div>
    <div id="perfect-licence-template" hidden>
        <div class="card perfect-licence">
            <div class="card-header mouseover" data-toggle="collapse" data-target="#perfect-licence-1">
                <h5 class="mb-0">Licence #1</h5>
            </div>
            <div id="perfect-licence-1" class="collapse">
                <div class="card-body text-center">
                    <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                </div>
            </div>
        </div>
    </div>
    <div id="extra-licence-template" hidden>
        <div class="card extra-licence">
            <div class="card-header mouseover" data-toggle="collapse" data-target="#extra-licence-1">
                <h5 class="mb-0"></h5>
            </div>
            <div id="extra-licence-1" class="collapse">
                <div class="card-body text-center">
                    <h5>This licence has these additional conditions:</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Permissions</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr>
                                <th>Duties</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr>
                                <th>Prohibitions</th>
                                <td class="text-left"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                </div>
            </div>
        </div>
    </div>
    <div id="insufficient-licence-template" hidden>
        <div class="card">
            <div class="card-header mouseover" data-toggle="collapse" data-target="#insufficient-conditions-1">
                <h5 class="mb-0">Licence #7</h5>
            </div>
            <div id="insufficient-conditions-1" class="collapse">
                <div class="card-body text-center">
                    <h5>This licence is missing these requirements:</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Permissions</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr>
                                <th>Duties</th>
                                <td class="text-left"></td>
                            </tr>
                            <tr>
                                <th>Prohibitions</th>
                                <td class="text-left"></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_script %}
<script>
    var permissions = []
    var duties = []
    var prohibitions = []

    // Updates the filter display on left with user's selections
    var displayFilter = function() {
        filterList = $('#filter-list-template').clone()
        for (i = 0; i < permissions.length; i++) {
            permissionTemplate = $('#permission-item-template').clone().children()
            permissionTemplate.find('span').text(permissions[i]['LABEL'])
            permissionTemplate.insertBefore(filterList.find('#duty-header'))
        }
        for (i = 0; i < duties.length; i++) {
            dutyTemplate = $('#duty-item-template').clone().children()
            dutyTemplate.find('span').text(duties[i]['LABEL'])
            dutyTemplate.insertBefore(filterList.find('#prohibition-header'))
        }
        for (i = 0; i < prohibitions.length; i++) {
            prohibitionTemplate = $('#prohibition-item-template').clone().children()
            prohibitionTemplate.find('span').text(prohibitions[i]['LABEL'])
            filterList.append(prohibitionTemplate)
        }
        $('#filter-list').html(filterList.html())
    }

    // Adds items to filter selection when dropdown selected
    $('body').on('click', '.dropdown-item', function() {
        var list
        if ($(this).hasClass('permission-item'))
            list = permissions
        else if ($(this).hasClass('duty-item'))
            list = duties
        else if ($(this).hasClass('prohibition-item'))
            list = prohibitions
        actionLabel = $(this).text()
        actionURI = $(this).attr('data-action-uri')
        list.push({'LABEL': actionLabel, 'URI': actionURI})
        displayFilter()
    })

    // Removes items from filter selection when X clicked
    $('body').on('click', '.delete-item', function() {
        var list
        if ($(this).parent().hasClass('permission-item'))
            list = permissions
        else if ($(this).parent().hasClass('duty-item'))
            list = duties
        else if ($(this).parent().hasClass('prohibition-item'))
            list = prohibitions
        itemLabel = $(this).siblings('span').first().text()
        var index = -1
        for (i = 0; i < list.length; i++) {
            if (list[i]['LABEL'] == itemLabel)
                index = i
        }
        if (index == -1)
            return
        list.splice(index, 1)
        displayFilter()
    })

    // AJAX request to get search results
    $('body').on('click', '#filter-button', function() {
        var permissions_request = []
        var duties_request = []
        var prohibitions_request = []
        for (i = 0; i < permissions.length; i++)
            permissions_request.push(permissions[i]['URI'])
        for (i = 0; i < duties.length; i++)
            duties_request.push(duties[i]['URI'])
        for (i = 0; i < prohibitions.length; i++)
            prohibitions_request.push(prohibitions[i]['URI'])
        $.ajax({
            dataType: 'json',
            url: '{{ url_for("controller.search_results") }}',
            data: {
                permissions: JSON.stringify(permissions_request),
                duties: JSON.stringify(duties_request),
                prohibitions: JSON.stringify(prohibitions_request)
            },
            success: function(data) {
                updateResults(data['perfect_licences'], data['extra_licences'], data['insufficient_licences'])
            }
        })
    })

    // Updates results at bottom
    var updateResults = function(perfect_licences, extra_licences, insufficient_licences) {
        resultsTemplate = $('#results-template').clone()
        if (perfect_licences.length > 0)
            resultsTemplate.find('#perfect-licence-header').removeAttr('hidden')
        if (extra_licences.length > 0)
            resultsTemplate.find('#extra-licence-header').removeAttr('hidden')
        if (insufficient_licences.length > 0)
            resultsTemplate.find('#insufficient-licence-header').removeAttr('hidden')
        for (i = 0; i < perfect_licences.length; i++)
            addLicenceEntry('perfect', perfect_licences[i], resultsTemplate.find('#perfect-licence-header'))
        for (i = 0; i < extra_licences.length; i++)
            addLicenceEntry('extra', extra_licences[i], resultsTemplate.find('#extra-licence-header'))
        for (i = 0; i < insufficient_licences.length; i++) {
            addLicenceEntry('insufficient', insufficient_licences[i], resultsTemplate.find('#insufficient-licence-header'))
        }
        $('#results').html(resultsTemplate.children())
    }

    var addLicenceEntry = function(licence_type, licence_info, destination) {
        entry = $('#' + licence_type + '-licence-template').clone()
        entry.find('.card-header').attr('data-target', '#' + licence_type + '-licence-' + i)
        entry.find('.collapse').attr('id', licence_type + '-licence-' + i)
        entry.find('.card-header').children().text(licence_info['LABEL'])
        entry.find('a').attr('href', licence_info['URI'])
        if (licence_type == 'extra' || licence_type == 'insufficient') {
            entry.find('td:eq(0)').text(licence_info['PERMISSIONS'].join(', '))
            entry.find('td:eq(1)').text(licence_info['DUTIES'].join(', '))
            entry.find('td:eq(2)').text(licence_info['PROHIBITIONS'].join(', '))
        }
        entry.children().insertAfter(destination)
    }

    displayFilter()
</script>
{% endblock %}