{% extends "layout.html" %}
{% block content %}
    <h1>Search for a Licence</h1>
    <div class="row mt-5">
        <div class="col-md-5 mb-3">
            <ul id="filter-list" class="list-group"></ul>
        </div>
        <div class="col-md-7">
            <div class="ml-3">
                <div class="dropdown mb-3" id="permission-dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Add Permission
                    </button>
                    <ul class="dropdown-menu">
                        {% for action in actions %}
                        <li class="dropdown-item permission-item" data-action-uri="{{ action['URI'] }}">{{ action['LABEL'] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dropdown mb-3" id="duty-dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Add Duty
                    </button>
                    <div class="dropdown-menu">
                        {% for action in actions %}
                        <li class="dropdown-item duty-item" data-action-uri="{{ action['URI'] }}">{{ action['LABEL'] }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="dropdown mb-3" id="prohibition-dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Add Prohibition
                    </button>
                    <div class="dropdown-menu">
                        {% for action in actions %}
                        <li class="dropdown-item prohibition-item" data-action-uri="{{ action['URI'] }}">{{ action['LABEL'] }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-5">
                    <button type="button" class="btn btn-primary">Filter Licences</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Results</h2>
            <div class="row mt-3 mb-3">
                <div class="col-md-1">
                    <i class="fas fa-check-circle fa-3x text-success"></i>
                </div>
                <div class="col-md-11 mt-2 text-success">
                    <h3>The following licences are a perfect fit with your requirements</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#perfect-fit-1">
                    <h5 class="mb-0">Licence #1</h5>
                </div>
                <div id="perfect-fit-1" class="collapse">
                    <div class="card-body text-center">
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#perfect-fit-2">
                    <h5 class="mb-0">Licence #2</h5>
                </div>
                <div id="perfect-fit-2" class="collapse">
                    <div class="card-body text-center">
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#perfect-fit-3">
                    <h5 class="mb-0">Licence #3</h5>
                </div>
                <div id="perfect-fit-3" class="collapse">
                    <div class="card-body text-center">
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-md-1 mt-2">
                    <i class="fas fa-exclamation-circle fa-3x text-warning"></i>
                </div>
                <div class="col-md-11 text-warning">
                    <h3>The following licences are compatible with your requirements, but have extra conditions</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#extra-conditions-1">
                    <h5 class="mb-0">Licence #4</h5>
                </div>
                <div id="extra-conditions-1" class="collapse">
                    <div class="card-body text-center">
                        <h5>This licence has these additional conditions:</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>Permissions</th>
                                    <td class="text-left">Derive</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#extra-conditions-2">
                    <h5 class="mb-0">Licence #5</h5>
                </div>
                <div id="extra-conditions-2" class="collapse">
                    <div class="card-body text-center">
                        <h5>This licence has these additional conditions:</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <th scope="row">Permissions</th>
                                <td class="text-left">Derive</td>
                            </tbody>
                        </table>
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#extra-conditions-3">
                    <h5 class="mb-0">Licence #6</h5>
                </div>
                <div id="extra-conditions-3" class="collapse">
                    <div class="card-body text-center">
                        <h5>This licence has these additional conditions:</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <th scope="row">Permissions</th>
                                <td class="text-left">Derive</td>
                            </tbody>
                        </table>
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-md-1">
                    <i class="fas fa-times-circle fa-3x text-danger"></i>
                </div>
                <div class="col-md-11 mt-2 text-danger">
                    <h3>The following licences are missing some requirements</h3>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#missing-conditions-1">
                    <h5 class="mb-0">Licence #7</h5>
                </div>
                <div id="missing-conditions-1" class="collapse">
                    <div class="card-body text-center">
                        <h5>This licence is missing these requirements:</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <th scope="row">Permissions</th>
                                <td class="text-left">Read</td>
                            </tbody>
                        </table>
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#missing-conditions-2">
                    <h5 class="mb-0">Licence #8</h5>
                </div>
                <div id="missing-conditions-2" class="collapse">
                    <div class="card-body text-center">
                        <h5>This licence is missing these requirements:</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <th scope="row">Permissions</th>
                                <td class="text-left">Read</td>
                            </tbody>
                        </table>
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header mouseover" data-toggle="collapse" data-target="#missing-conditions-3">
                    <h5 class="mb-0">Licence #9</h5>
                </div>
                <div id="missing-conditions-3" class="collapse">
                    <div class="card-body text-center">
                        <h5>This licence is missing these requirements:</h5>
                        <table class="table table-bordered">
                            <tbody>
                                <th scope="row">Permissions</th>
                                <td class="text-left">Read</td>
                            </tbody>
                        </table>
                        <a href="#!" type="button" class="btn btn-primary">See Licence</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul id="filter-list-template" hidden>
        <li class="list-group-item font-weight-bold active">Filter:</li>
        <li id="permission-header" class="list-group-item font-weight-bold">Permissions</li>
        <li id="duty-header" class="list-group-item font-weight-bold">Duties</li>
        <li id="prohibition-header" class="list-group-item font-weight-bold">Prohibitions</li>
    </ul>
    <div id="permission-item-template" hidden>
        <li class="list-group-item">
            <span class="ml-3">Read</span>
            <i class="fas fa-times text-danger delete-permission"></i>
        </li>
    </div>
    <div id="duty-item-template" hidden>
        <li class="list-group-item">
            <span class="ml-3">Attach Policy</span>
            <i class="fas fa-times text-danger delete-duty"></i>
        </li>
    </div>
    <div id="prohibition-item-template" hidden>
        <li class="list-group-item">
            <span class="ml-3">Distribute</span>
            <i class="fas fa-times text-danger delete-prohibition"></i>
        </li>
    </div>
{% endblock %}
{% block bottom_script %}
<script>
    var permissions = []
    var duties = []
    var prohibitions = []

    var displayFilter = function() {
        filterList = $('#filter-list-template').clone()
        for (i = 0; i < permissions.length; i++) {
            permissionTemplate = $('#permission-item-template').clone().children()
            permissionTemplate.find('span').text(permissions[i])
            permissionTemplate.insertBefore(filterList.find('#duty-header'))
        }
        for (i = 0; i < duties.length; i++) {
            dutyTemplate = $('#duty-item-template').clone().children()
            dutyTemplate.find('span').text(duties[i])
            dutyTemplate.insertBefore(filterList.find('#prohibition-header'))
        }
        for (i = 0; i < prohibitions.length; i++) {
            prohibitionTemplate = $('#prohibition-item-template').clone().children()
            prohibitionTemplate.find('span').text(prohibitions[i])
            filterList.append(prohibitionTemplate)
        }
        $('#filter-list').html(filterList.html())
    }

    $('body').on('click', '.permission-item', function() {
        permissions.push($(this).text())
        displayFilter()
    })

    $('body').on('click', '.duty-item', function() {
        duties.push($(this).text())
        displayFilter()
    })

    $('body').on('click', '.prohibition-item', function() {
        prohibitions.push($(this).text())
        displayFilter()
    })

    $('body').on('click', '.delete-permission', function() {
        itemLabel = $(this).siblings('span').first().text()
        permissions.splice(permissions.indexOf(itemLabel), 1)
        displayFilter()
    })

    $('body').on('click', '.delete-duty', function() {
        itemLabel = $(this).siblings('span').first().text()
        duties.splice(duties.indexOf(itemLabel), 1)
        displayFilter()
    })

    $('body').on('click', '.delete-prohibition', function() {
        itemLabel = $(this).siblings('span').first().text()
        prohibitions.splice(prohibitions.indexOf(itemLabel), 1)
        displayFilter()
    })

    displayFilter()
</script>
{% endblock %}