{% extends 'browse.html' %}
{% block title %}
<h1>Viewing Rule:</h1>
<h2>{% if title is defined %}{{ title }}{% endif %}</h2>
{% endblock %}
{% block left_column %}
<table class="table">
    <col width="150">
    <tbody>
        <tr>
            <th>Type:</th>
            <td>{{ rule['TYPE'] }}</td>
        </tr>
        <tr>
            <th>URI:</th>
            <td>{{ rule['URI'] }}</td>
        </tr>
        <tr>
            <th>Actions:</th>
            <td>
                <ul>
                    {% for action in rule['ACTIONS'] %}
                    <li><a href="{{ url_for('controller.action_routes', uri=action['URI']) }}">{{ action['LABEL'] }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Assignors:</th>
            <td>
                <ul>
                    {% for assignor in rule['ASSIGNORS'] %}
                    <li>{{ assignor }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Assignees:</th>
            <td>
                <ul>
                    {% for assignee in rule['ASSIGNEES'] %}
                    <li>{{ assignee }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block bottom %}
<h2>Licences that implement this rule:</h2>
<ul>
    {% for licence in licences %}
    <li><a href="{{ url_for('controller.licence_routes', uri=licence['URI']) }}">{{ licence['LABEL'] }}</a></li>
    {% endfor %}
</ul>
{% endblock %}