{% macro display_rule(rule) %}
    {% for action in rule['ACTIONS'] %}
        <tr>
            <td><a href="{{ url_for('controller.action_routes', uri=action['URI']) }}">{{ action['LABEL'] }}</a></td>
            <td>{{ display_parties(rule['ASSIGNORS']) }}</td>
            <td>{{ display_parties(rule['ASSIGNEES']) }}</td>
        </tr>
        {% endfor %}
        {% if rule['ACTIONS']|length == 0 and (rule['ASSIGNORS']|length > 0 or rule['ASSIGNEES']|length > 0) %}
        <tr>
            <td></td>
            <td>{{ display_parties(rule['ASSIGNORS']) }}</td>
            <td>{{ display_parties(rule['ASSIGNEES']) }}</td>
        </tr>
        {% endif %}
{% endmacro %}
{% macro display_parties(parties) %}
    {% set comma = joiner(', ') %}
    {% for party in parties %}
        {{ comma() }}
        <a href="{{ url_for('controller.party_routes', uri=party['URI']) }}">{{ party['LABEL'] if party['LABEL'] else party['URI'] }}</a>
    {% endfor %}
{% endmacro %}

{% extends 'browse.html' %}
{% block title %}
<h1>Viewing Licence:</h1>
<h2>{% if title is defined %}{{ title }}{% endif %}</h2>
{% endblock %}
{% block info %}
<table class="table">
    <col width="150">
    <tbody>
        {{ display_linking_attribute('URI', licence['URI']) }}
        {{ display_linking_attribute('Type', licence['TYPE']) }}
        {{ display_attribute('Description', licence['COMMENT']) }}
        {{ display_linking_attribute('Status', licence['STATUS']) }}
        {{ display_attribute('Version', licence['HAS_VERSION']) }}
        {{ display_attribute('Created', licence['CREATED']) }}
        {{ display_linking_attribute('Creator', licence['CREATOR']) }}
        {{ display_linking_attribute('Jurisdiction', licence['JURISDICTION']) }}
        {{ display_linking_attribute('Legal Code', licence['LEGAL_CODE']) }}
        {{ display_linking_attribute('Language', licence['LANGUAGE']) }}
        {{ display_linking_attribute('Same As', licence['SAME_AS']) }}
        {{ display_linking_attribute('See Also', licence['SEE_ALSO']) }}
    </tbody>
</table>
{% endblock %}
{% block right_column %}
{% if logo is not none %}<img src="{{ licence['LOGO'] }}" alt="Licence Logo">{% endif %}
{% endblock %}
{% block bottom %}
<h2>Rules</h2>
{% if not permissions and not duties and not prohibitions %}None{% endif %}
<ul id="rule-list-template" class="pl-0">
    {% if permissions %}
    <li class="list-group-item font-weight-bold active">Permissions</li>
    <li class="list-group-item">
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Assignors</th>
                    <th>Assignees</th>
                </tr>
            </thead>
            <tbody>
                {% for permission in permissions %}
                    {{ display_rule(permission) }}
                {% endfor %}
            </tbody>
        </table>
    </li>
    {% endif %}
    {% if duties %}
    <li class="list-group-item font-weight-bold active">Duties</li>
    <li class="list-group-item">
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Assignors</th>
                    <th>Assignees</th>
                </tr>
            </thead>
            <tbody>
                {% for duty in duties %}
                    {{ display_rule(duty) }}
                {% endfor %}
            </tbody>
        </table>
    </li>
    {% endif %}
    {% if prohibitions %}
    <li class="list-group-item font-weight-bold active">Prohibitions</li>
    <li class="list-group-item">
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Assignors</th>
                    <th>Assignees</th>
                </tr>
            </thead>
            <tbody>
                {% for prohibition in prohibitions %}
                    {{ display_rule(prohibition) }}
                {% endfor %}
            </tbody>
        </table>
    </li>
    {% endif %}
</ul>
{% endblock %}