{% extends 'browse.html' %}
{% block title %}
<h1>Viewing Licence:</h1>
<h2>{% if title is defined %}{{ title }}{% endif %}</h2>
{% endblock %}
{% block left_column %}
<table class="table">
    <col width="150">
    <tbody>
        <tr>
            <th>Type:</th>
            <td>Licence</td>
        </tr>
        <tr>
            <th>Comment:</th>
            <td></td>
        </tr>
        <tr>
            <th>Status:</th>
            <td></td>
        </tr>
        <tr>
            <th>Version:</th>
            <td></td>
        </tr>
        <tr>
            <th>Created:</th>
            <td></td>
        </tr>
        <tr>
            <th>Jurisdiction:</th>
            <td></td>
        </tr>
        <tr>
            <th>Legal Code:</th>
            <td></td>
        </tr>
        <tr>
            <th>Language:</th>
            <td></td>
        </tr>
        <tr>
            <th>Same As:</th>
            <td></td>
        </tr>
        <tr>
            <th>See Also:</th>
            <td></td>
        </tr>
        <tr>
            <th>URL:</th>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block right_column %}
{% if logo is defined %}<img src="{{ logo }}" alt="Licence Logo">{% endif %}
{% endblock %}
{% block bottom %}
<h2>Rules</h2>
<div class="card">
    <div class="card-header mouseover" data-toggle="collapse" data-target="#rule-1">
        <h5 class="mb-0">Rule #1</h5>
    </div>
    <div id="rule-1" class="collapse">
        <div class="card-body text-center">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Type</th>
                        <td class="text-left">Permission</td>
                    </tr>
                    <tr>
                        <th>Assignors</th>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <th>Assignees</th>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <th>Actions</th>
                        <td class="text-left">Read</td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ url_for('controller.view_rule') }}" type="button" class="btn btn-primary">See Rule</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header mouseover" data-toggle="collapse" data-target="#rule-2">
        <h5 class="mb-0">Rule #2</h5>
    </div>
    <div id="rule-2" class="collapse">
        <div class="card-body text-center">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Type</th>
                        <td class="text-left">Permission</td>
                    </tr>
                    <tr>
                        <th>Actions</th>
                        <td class="text-left">Read</td>
                    </tr>
                    <tr>
                        <th>Assignors</th>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <th>Assignees</th>
                        <td class="text-left"></td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ url_for('controller.view_rule') }}" type="button" class="btn btn-primary">See Rule</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header mouseover" data-toggle="collapse" data-target="#rule-3">
        <h5 class="mb-0">Rule #3</h5>
    </div>
    <div id="rule-3" class="collapse">
        <div class="card-body text-center">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Type</th>
                        <td class="text-left">Permission</td>
                    </tr>
                    <tr>
                        <th>Actions</th>
                        <td class="text-left">Read</td>
                    </tr>
                    <tr>
                        <th>Assignors</th>
                        <td class="text-left"></td>
                    </tr>
                    <tr>
                        <th>Assignees</th>
                        <td class="text-left"></td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ url_for('controller.view_rule') }}" type="button" class="btn btn-primary">See Rule</a>
        </div>
    </div>
</div>
{% endblock %}