{% extends 'browse.html' %}
{% block title %}
<h1>Viewing Licence:</h1>
<h2>{% if title is defined %}{{ title }}{% endif %}</h2>
{% endblock %}
{% block left_column %}
<table class="table">
    <col width="150">
    <tbody>
        <tr>
            <th>Type:</th>
            <td>{% if licence['TYPE'] is not none %}{{ licence['TYPE'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Comment:</th>
            <td>{% if licence['COMMENT'] is not none %}{{ licence['COMMENT'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{% if licence['STATUS'] is not none %}{{ licence['STATUS'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Version:</th>
            <td>{% if licence['HAS_VERSION'] is not none %}{{ licence['HAS_VERSION'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Created:</th>
            <td>{% if licence['CREATED'] is not none %}{{ licence['CREATED'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Creator:</th>
            <td>{% if licence['CREATOR'] is not none %}{{ licence['CREATOR'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Jurisdiction:</th>
            <td>{% if licence['JURISDICTION'] is not none %}{{ licence['JURISDICTION'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Legal Code:</th>
            <td>{% if licence['LEGAL_CODE'] is not none %}{{ licence['LEGAL_CODE'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Language:</th>
            <td>{% if licence['LANGUAGE'] is not none %}{{ licence['LANGUAGE'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>Same As:</th>
            <td>{% if licence['SAME_AS'] is not none %}{{ licence['SAME_AS'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>See Also:</th>
            <td>{% if 'SEE_ALSO' in licence %}{{ licence['SEE_ALSO'] }}{% endif %}</td>
        </tr>
        <tr>
            <th>URI:</th>
            <td>{% if 'URI' in licence %}{{ licence['URI'] }}{% endif %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block right_column %}
{% if logo is not none %}<img src="{{ licence['LOGO'] }}" alt="Licence Logo">{% endif %}
{% endblock %}
{% block bottom %}
<h2>Rules</h2>
<ul id="rule-list-template" class="pl-0">
    {% if permissions %}
    <li class="list-group-item font-weight-bold active">Permissions</li>
    <li class="list-group-item">
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Assignors</th>
                    <th>Assignees</th>
                </tr>
            </thead>
            <tbody>
                {% for permission in permissions %}
                    {% for action in permission['ACTIONS'] %}
                    <tr>
                        <td>
                            <a href="{{ url_for('controller.action_routes', uri=action['URI']) }}">
                                {{ action['LABEL'] }}
                            </a>
                        </td>
                        <td>{{ permission['ASSIGNORS']|join(', ') }}</td>
                        <td>{{ permission['ASSIGNEES']|join(', ') }}</td>
                    </tr>
                    {% endfor %}
                    {% if permission['ACTIONS']|length == 0 and (permission['ASSIGNORS']|length > 0 or permission['ASSIGNEES']|length > 0) %}
                    <tr>
                        <td></td>
                        <td>{{ permission['ASSIGNORS']|join(', ') }}</td>
                        <td>{{ permission['ASSIGNEES']|join(', ') }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </li>
    {% endif %}
    {% if duties %}
    <li class="list-group-item font-weight-bold active">Duties</li>
    <li class="list-group-item">
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Assignors</th>
                    <th>Assignees</th>
                </tr>
            </thead>
            <tbody>
                {% for duty in duties %}
                    {% for action in duty['ACTIONS'] %}
                    <tr>
                        <td>
                            <a href="{{ url_for('controller.action_routes', uri=action['URI']) }}">
                                {{ action['LABEL'] }}
                            </a>
                        </td>
                        <td>{{ duty['ASSIGNORS']|join(', ') }}</td>
                        <td>{{ duty['ASSIGNEES']|join(', ') }}</td>
                    </tr>
                    {% endfor %}
                    {% if duty['ACTIONS']|length == 0 and (duty['ASSIGNORS']|length > 0 or duty['ASSIGNEES']|length > 0) %}
                    <tr>
                        <td></td>
                        <td>{{ duty['ASSIGNORS']|join(', ') }}</td>
                        <td>{{ duty['ASSIGNEES']|join(', ') }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </li>
    {% endif %}
    {% if prohibitions %}
    <li class="list-group-item font-weight-bold active">Prohibitions</li>
    <li class="list-group-item">
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Assignors</th>
                    <th>Assignees</th>
                </tr>
            </thead>
            <tbody>
                {% for prohibition in prohibitions %}
                    {% for action in prohibition['ACTIONS'] %}
                    <tr>
                        <td>
                            <a href="{{ url_for('controller.action_routes', uri=action['URI']) }}">
                                {{ action['LABEL'] }}
                            </a>
                        </td>
                        <td>{{ prohibition['ASSIGNORS']|join(', ') }}</td>
                        <td>{{ prohibition['ASSIGNEES']|join(', ') }}</td>
                    </tr>
                    {% endfor %}
                    {% if prohibitions['ACTIONS']|length == 0 and (prohibition['ASSIGNORS']|length > 0 or prohibition['ASSIGNEES']|length > 0) %}
                    <tr>
                        <td></td>
                        <td>{{ prohibition['ASSIGNORS']|join(', ') }}</td>
                        <td>{{ prohibition['ASSIGNEES']|join(', ') }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </li>
    {% endif %}
</ul>
{% endblock %}