{% extends 'browse.html' %}
{% block title %}
<h1>Viewing Rule:</h1>
<h2>{% if title is defined %}{{ title }}{% endif %}</h2>
{% endblock %}
{% block left_column %}
<table class="table">
    <col width="150">
    <tbody>
        <tr>
            <th>Type:</th>
            <td>Permission</td>
        </tr>
        <tr>
            <th>Actions:</th>
            <td>
                <ul>
                    <li><a href="{{ url_for('controller.view_action') }}">Action #1</a></li>
                    <li><a href="{{ url_for('controller.view_action') }}">Action #2</a></li>
                    <li><a href="{{ url_for('controller.view_action') }}">Action #3</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Assignors:</th>
            <td></td>
        </tr>
        <tr>
            <th>Assignees:</th>
            <td></td>
        </tr>
        <tr>
            <th>URL:</th>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block bottom %}
<h2>Licenses that implement this rule:</h2>
<ul>
    <li><a href="{{ url_for('controller.view_licence') }}">Licence #1</a></li>
    <li><a href="{{ url_for('controller.view_licence') }}">Licence #2</a></li>
    <li><a href="{{ url_for('controller.view_licence') }}">Licence #3</a></li>
</ul>
{% endblock %}