{% extends 'browse.html' %}
{% block title %}
<h1>Viewing Action:</h1>
<h2>{{ action['LABEL'] }}</h2>
{% endblock %}
{% block left_column %}
<table class="table">
    <col width="150">
    <tbody>
        <tr>
            <th>URL:</th>
            <td>{{ action['URI'] }}</td>
        </tr>
        <tr>
            <th>Definition:</th>
            <td>{{ action['DEFINITION'] }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
{% block bottom %}
<h2>Licences that implement this action:</h2>
<ul>
    {% for licence in licences %}
    <li><a href="{{ url_for('controller.licence_routes', uri=licence['URI']) }}">{{ licence['LABEL'] }}</a></li>
    {% endfor %}
</ul>
{% endblock %}