{% extends 'browse.html' %}
{% block title %}
<h1>Viewing Party:</h1>
<h2>{{ party['LABEL'] }}</h2>
{% endblock %}
{% block info %}
<table class="table">
    <col width="150">
    <tbody>
        <tr>
        {{ display_linking_attribute('URI', party['URI']) }}
        {{ display_attribute('Description', party['COMMENT']) }}
    </tbody>
</table>
{% endblock %}
{% block bottom %}
<h2>Licences that involve this Party:</h2>
{% if not licences %}
None
{% endif %}
<ul>
    {% for licence in licences %}
    <li><a href="{{ url_for('controller.licence_routes', uri=licence['URI']) }}">{{ licence['LABEL'] }}</a></li>
    {% endfor %}
</ul>
{% endblock %}