@font-face {
  font-family: "UnitRoundedBlack";
  font-style: normal;
  font-weight: normal;
  /*src: url("http://www.csiro.au/themes/default/font/UnitRoundedWeb-Black.woff") format("woff");*/
  src: url("UnitRoundedWeb-Black.woff") format("woff");
}

body {
	margin: 0 auto;
	text-align: center;
	background-color: #E0E0E0;
}

header {
	margin: 0 auto;
	text-align:left;
	width:894px;
	margin-top:20px;
	background-image: url('wave-graphic.png');
	position:relative;
	height:118px;
}

#csiro-logo {
	margin-top:20px;
	margin-left: 40px;
}





#container-content {
	margin: 0 auto;
	text-align:left;
	width:894px;
	background-color:white;
}

#container-content-2 {
	padding: 20px;
}

h1 {
  padding:0em 0px 0px 0px;
  margin:0px 0px 0.2em 0px;
  color:#01313c;
  font-family:UnitRoundedBlack, Verdana, Geneva, sans-serif;
  font-size:3.2em;
  font-weight:normal;
  line-height:1.1;
}

h2, h3 {
  font-family: UnitRoundedBlack, Verdana, Geneva, sans-serif;
  font-weight:normal;
}

h4, p, li {
  font-family: Verdana, Arial, helvetica, sans-serif;
  font-weight:normal;
}

p, li {
  color: #000000;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0.2em 0 0.9em
}

p a,
ul li a {
  color: #0f4a84;
}

/* START NAV MENU */

nav {
    font-family: Arial, helvetica, sans-serif;
    font-size: 20px;
    color: white;
    font-weight:bold;
    margin-top:-35px;
	margin-left: 375px;
    text-align: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: block;
  position: relative;
  float: left;

}

nav li ul {
  display: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 3px 5px 3px 5px;
  border-radius: 8px;
  border: none;
}

nav ul li a:hover {
  background: none repeat scroll 0 0 #006D85;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 0 #005977 inset, -2px -2px 2px 0 #005977 inset;
  color: #FFFFFF;
  line-height: 1em;
}

/* END NAV MENU */

.importantbox {
  background-color: #00a9ce;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align:center;
  margin: 10px, 50px 10px 50px;
}

#footer {
  border-top: solid 1px #eeeeee; /*#3A464F;*/
  padding-top:5px;
}

#footer-external {
        margin: 0 auto;
        width:894px;
	box-shadow: 0 0 10px -8px #CDCDCD inset, 0 10px 10px -8px #CDCDCD inset;
	margin-top: -15px;
	padding-top: 0px;
}

#footer-external-links {
  list-style: none outside none;
  font-size: 1em;
  padding: 20px 0 0 2em;
}
#footer-external-links li {
  display: inline;
  margin: 0 5px 0 5px;
  color: #666;
}
#footer-external-links li a {color: #0f4a84;}



.figure {
	text-align: center;
}
.caption {
	font-size: small;
}

.definition {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dashed;
}
