.btn, .dropdown-item {
    width: 200px;
}

.btn-col {
    width: 150px;
}

.mouseover, .fa-times, .dropdown-item {
    cursor: pointer;
}

.permalink {
    width: 85%;
    float: left;
    padding: 5px;
    background-color: #e6e6e6;
}

.clipboard-icon {
    margin-left: 85%;
    text-align: center;
    height: 45px;
    position: relative;
}

.hover-target .hover-tooltip-top {
    visibility: hidden;
    background-color: #555;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index : 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-target .hover-tooltip-right {
    visibility: hidden;
    background-color: #555;
    width: 300px;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;
    position: absolute;
    top: 0px;
    left: 105%;
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-target .hover-tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.hover-target .hover-tooltip-right::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.hover-target:hover .hover-tooltip-top {
    visibility: visible;
    opacity: 1;
}

.hover-target:hover .hover-tooltip-right {
    visibility: visible;
    opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
}

.dropdown-menu {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

center {
    margin: auto;
}

.nav-link {
    background: rgba(0,0,0,.03);
}

.next-button {
    width: auto;
    min-width: 200px;
}

form#licence-create-form textarea,
form#licence-create-form input,
form#licence-create-form select {
    width: 100%;
}

.list-group-item.active {
    z-index: auto;
}