.w-200 {
    width: 200px;
}

.btn-primary, .list-group-item.active, .btn-primary:disabled {
    background-color: #0093B5;
    border-color: #0093B5;
}

.nav-link.active {
    background-color: #0093B5 !important;
    border-color: #0093B5 !important;
}

.btn-primary:hover:enabled, .dropdown-toggle:active, .show > btn-primary:focus, .show > .dropdown-toggle:focus, a.btn-primary:hover {
    background-color: #007B97;
    border-color: #007B97;
}

.btn:active:enabled {
    background-color: #007B97 !important;
    border-color: #007B97 !important;
}

.mouseover, .fa-times, .dropdown-item, [data-toggle] {
    cursor: pointer;
}

.permalink {
    width: 85%;
    float: left;
    padding: 5px;
    background-color: #e6e6e6;
}

.clipboard-icon {
    margin-left: 85%;
    text-align: center;
    height: 45px;
    position: relative;
}

.fa-clipboard {
    color: #0093B5;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-link {
    background: #e8e9e9;
}

form#licence-create-form textarea,
form#licence-create-form input[type=text],
form#licence-create-form select {
    width: 100%;
}

.list-group-item.active {
    z-index: auto;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.list-group-item-label {
    width: 90%;
    overflow: hidden;
    float: left;
}

.btn-success {
    background-color: #00855B;
    color: white;
}

.btn-success:hover, .btn-success:active {
    background-color: #44693D;
}

.btn-success:active:enabled {
    background-color: #44693D !important;
}

.success {
    color: #00855B;
}

.btn-cancel {
    background-color: #8e9090;
    color: white;
}

.btn-cancel:hover, .btn-cancel:active {
    background-color: #565859;
    border-color: #565859;
}

.btn-cancel:active:enabled {
    background-color: #565859 !important;
    border-color: #565859 !important;
}

.btn-danger {
    background: #E40028;
    color: white;
}

.danger {
    color: #E40028;
}

.text-info {
    color: #0093B5 !important;
}

.text-warning {
    color: #E67623 !important;
}

label {
    margin-bottom: auto
}

.tooltip-inner {
    max-width: 350px;
}